body {
  padding-top: 70px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: white;
    height: 70px;
    text-align: right;
    font-size: 12px;
    padding: 40px 15px 0 0;
}

.content-block {
    font-style: normal;
    font-size: 16px;
    font-weight: 320;
    min-width: 300px;
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.content-block-registration {
    font-style: normal;
    font-size: 16px;
    font-weight: 320;
    min-width: 300px;
    width: 500px;
    height: 350px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.title_403 {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}