<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head th:replace="layout :: html_head">
    <title>Панель администратора</title>
</head>
<body>
<div th:replace="layout :: header">Header</div>
<div layout:fragment="content">
    <p>Дароу, Админ (<span sec:authentication="principal.username">Admin</span>)</p>
    <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Выйти</a></p>
    <h1>Енто страниЧка Одмэна</h1>
</div>
<div th:replace="layout :: footer">Footer</div>
</body>
</html>