<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet"
          th:href="@{/assets/fontawesome-6.2.1/css/fontawesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
    <title>Главная</title>
</head>
<body>
    <div th:replace="layout :: header">Header</div>
    <div class="container content-block">
        <div layout:fragment="content">
            <div class="panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Главное меню</div>
                    <div class="panel-body">
                        <p><a th:href="@{/home}">Личный кабинет</a></p>
                        <hr style="border-color: black;">
                        <p>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/home}">Панель администратора</a>
                            <a sec:authorize="!hasRole('ROLE_ADMIN')" th:href="@{/403}">Панель администратора</a>
                        </p>
                        <hr style="border-color: black;">
                        <p><a th:href="@{/events}">Мероприятия</a></p>
                        <hr style="border-color: black;">
                        <p><a th:href="@{/registration}">Регистрация</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="layout :: footer">Footer</div>
</body>
</html>