<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet"
          th:href="@{/assets/fontawesome-6.2.1/css/fontawesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
    <title>Регистрация</title>
</head>
<body>
<div th:replace="layout :: header">Header</div>
<div layout:fragment="content" class="content-block-registration">
    <div class="panel">
        <div class="panel panel-default">
            <div class="panel-heading">Регистрация</div>
            <div class="panel-body">

                <form th:action="@{/registration}" th:object="${user}" method="post">
                    <div class="form-group has-feedback">
                        <input required type="text" class="form-control" name="username"
                               placeholder="Введите логин" th:field="*{login}"/> <span
                            class="glyphicon glyphicon-pencil form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input required type="text" class="form-control" name="name"
                               placeholder="Введите имя" th:field="*{name}"/> <span
                            class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input required type="password" class="form-control" name="password"
                               placeholder="Введите пароль" th:field="*{password}"/> <span
                            class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <select id="role" required th:field="*{role}" class="form-control ">
                            <option value="" hidden>Выберите роль</option>
                            <option th:each="role : ${T(rpbd.lab.entities.ERole).values()}"
                                    th:value="${role}"
                                    th:text="${role}">
                            </option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-offset-7 col-xs-5">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Зарегистрироваться</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Уже зарегистрированы?
                            <a th:href="@{/login}">
                                <p>Войти</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div th:if="${usernameError}"
                                 class="alert alert-danger alert-dismissable">
                                 <p>Пользователь с таким логином уже существует.</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: footer">Footer</div>

</body>
</html>