<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet"
          th:href="@{/assets/fontawesome-6.2.1/css/fontawesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
    <title>Регистрация</title>
</head>
<body>
<div th:replace="layout :: header">Header</div>
<div layout:fragment="content" class="content-block-registration">
    <div class="panel">
        <div class="panel panel-default">
            <div class="panel-heading">Регистрация</div>
            <div class="panel-body">

                <form th:action="@{/registration}" th:object="${user}" method="post">
                    <div class="form-group has-feedback">
                        <input required type="text" class="form-control" name="username"
                               placeholder="Введите логин" th:field="*{login}"/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input required type="email" class="form-control" name="email"
                               placeholder="Введите e-mail" th:field="*{email}"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input required type="password" class="form-control" name="password"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Введите пароль" th:field="*{password}"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div id="message">
                        <p id="letter" class="invalid">Один символ <b>нижнего</b> регистра</p>
                        <p id="capital" class="invalid">Один символ <b>верхнего</b> регистра</p>
                        <p id="number" class="invalid"><b>Цифра</b></p>
                        <p id="length" class="invalid">Длина пароля не менее <b>8 символов</b></p>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-offset-7 col-xs-5">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Зарегистрироваться</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Уже зарегистрированы?
                            <a th:href="@{/login}">
                                <p>Войти</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div th:if="${usernameError}"
                                 class="alert alert-danger alert-dismissable">
                                 <p>Пользователь с таким логином уже существует.</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: footer">Footer</div>
</body>

<script>
var myInput = document.getElementById("password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>
</html>